<app-header></app-header>
<div class="container">
    <h2>Signup</h2>&nbsp;
    <div class="row">
        <div class="signupBorder">
            <form [formGroup]="signupForm">
                <div *ngIf="unsuccessful">
                    <div class="col-12">
                        <div class="alert alert-danger">
                            Existing Email ! Please try with another Email.
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label> Name </label>
                    <span>
                        <input type="text" name="tname" id="name" class="form-control" formControlName="name" placeholder="Enter Name">
                    </span>
                </div>
                <div class="form-group">
                    <label>Email address </label>
                    <span>
                        <input type="email" name="email" id="email" class="form-control" formControlName="email" placeholder="Enter email">
                    </span>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <span>
                        <input type="password" name="password" id="password" class="form-control" formControlName="password" placeholder="Enter Password">
                    </span>
                </div>
                <div class="form-group">
                    <label>Language </label>
                    <select formControlName="language" id="language" placeholder="Select Language">
                        <option *ngFor="let language of languages"  value={{language.languageId}}>{{language.languageName}}
                        </option>
                    </select>
                </div>
                <div class="col-md-12 text-center mb-3">
                    <button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm" (click)="signup()">Signup</button>
                </div>

                <div id="card3">Already member ?
                    <a [routerLink]="['/login']" style="color:#007bff">Login Here</a>&nbsp;
                </div>



            </form>
        </div>
    </div>
</div>