<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" [routerLink]="['/']">News</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <div *ngIf="!authService.loggedIn;">
          <ul class="navbar-nav ml-auto">
            <li>
              <a class="nav-item nav-link active" [routerLink]="['/login']">Login
              </a>
            </li>
            <li>
              <a class="nav-item nav-link active" [routerLink]="['/signup']">Signup
                <span class="sr-only">(current)</span>
              </a>
            </li>
          </ul>
        </div>
        <div *ngIf="authService.loggedIn;">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-item nav-link" [routerLink]="['/news']">News Articles</a>
            </li>
            <li class="nav-item">
              <a class="nav-item nav-link " [routerLink]="['/favourite']">Favourites</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</div>